@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
   /* Hide scrollbar for all browsers */
.scroll-container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
}





